<script type="text/javascript">
/*<![CDATA[*/
    function showHideTab( objTab , intMinSize , intMaxSize )
    {
        if( window.countTab == undefined )
        {
            window.countTab = 1;
            window.tabs = new Object();
        }
        if( !objTab.id)
        {
            objTab.id = "tab_" + window.countTab;
            window.countTab++;
            window.tabs[ objTab.id ] = 'open';
        }

        objTab.className = "detail";
        if( ( window.tabs[ objTab.id ] == 'open' ) || ( window.tabs[ objTab.id ] == 'stop_open' ) )
        {
            window.tabs[ objTab.id ] = 'close';
        }
        else
        {
            window.tabs[ objTab.id ] = 'open';
        }
        changeTab( objTab , intMinSize , intMaxSize );
    }

    function changeTab( objTab , intMinSize , intMaxSize )
    {
        if( window.tabs[ objTab.id ] == 'open' )
        {
            openTab( objTab , intMaxSize  );
            setTimeout( 'changeTab( document.getElementById("' + objTab.id + '" ) , ' + intMinSize + ' , ' + intMaxSize + ' )' , 3 );
        }
        if( window.tabs[ objTab.id ] == 'close' )
        {
            closeTab( objTab , intMinSize );
            setTimeout( 'changeTab( document.getElementById("' + objTab.id + '" ) , ' + intMinSize + ' , ' + intMaxSize + ' )' , 3 );
        }
    }

    function closeTab( objTab , intMinSize )
    {
        if( objTab.clientHeight > intMinSize )
        {
            objTab.className = "detail closing";
            objTab.style.height = Math.round( objTab.clientHeight * 70 / 100 - 1 ) + "px";
            objTab.scrollTop = 0;
        }
        else
        {
            objTab.style.height = intMinSize + "px";
            objTab.className = "detail closed";
            window.tabs[ objTab.id ] = 'stop_close';
        }
    }

    function openTab( objTab , intMaxSize )
    {
        if( objTab.clientHeight < objTab.scrollHeight )
        {
            objTab.className = "detail opening";
            objTab.style.height = Math.round( objTab.clientHeight * 1.3 ) + "px";
        }
        else
        {
            objTab.style.height = Math.round( objTab.clientHeight ) + "px";
            window.tabs[ objTab.id ] = 'stop_open';
            objTab.className = "detail opened";
        }
    }
/*]]>*/
</script>
<div class="tab">
    <div class="button_bar">
    </div>
    <div class="detail_tab">
        <div class="detail">
            <h3  onclick="javascript:showHideTab( this.parentNode , 40 , this.parentNode.scrollHeight )">
                Details
            </h3>
            <ol>
                <codetodiagram:message_values/>
            </ol>
        </div>
    </div>
</div>