<!-- line start -->
<div class="slice codetodiagram:message_final">
    <div class="actor codetodiagram:active_actor">
        <div class="name">
            <span title="codetodiagram:actoractual_name">&nbsp;</span>
        </div>
    </div>
    <div class="row codetodiagram:message_type codetodiagram:reverse codetodiagram:large codetodiagram:recursive start ">
        <div class="message"  
             style="background-color: #DDDDDD; height:35%; overflow: hidden; margin: 5%; margin-right: 5%;width:auto;border-style:dashed;border-width:1px;padding:2%">
            <codetodiagram:message_text/>
            <div class="parameters">
                codetodiagram:message_values
            </div>
        </div>
    </div>
</div>
<!-- end line start -->
