<div class="actor start">
    <div class="name">
        <span title="codetodiagram:actoractual_name">&nbsp;</span>
    </div>
</div>
<div class="row codetodiagram:message_type codetodiagram:reverse codetodiagram:large codetodiagram:recursive start ">
    <div class="message">
        <span>
            <a href="#message_codetodiagram:message_id" class="noLink">
                <strong><codetodiagram:message_position/></strong>.
                <codetodiagram:message_text/>
            </a>
        </span>
        <codetodiagram:message_values/>
    </div>
</div>