<!-- line after -->
<div class="slice">
    <div class="row codetodiagram:message_type codetodiagram:message_dif codetodiagram:reverse codetodiagram:large codetodiagram:recursive start ">
        <div class="message">
            <span>
                <a href="#message_codetodiagram:message_id" class="noLink">
                    <strong><codetodiagram:message_position/></strong>.
                    <codetodiagram:message_text/>
                </a>
            </span>
            <codetodiagram:message_values/>
        </div>
    </div>
</div>
<!-- end line after -->