.sequenceDiagram
{
    float: left;
    width: codetodiagram:body_width;
}
.sequenceDiagram *
{
    font-size: codetodiagram:body_font;
}
.sequenceDiagram .detail *
{
    font-size: 13px;
}
.sequenceDiagram .line
{
    width: 100%;
    float: left;
}
.sequenceDiagram .parameters
{
    display: none;
}
.sequenceDiagram .head .slice
{
    float: left;
    width: codetodiagram:slice_width;
    text-align: center;
    height: 10%;
}
.sequenceDiagram .head .actor
{
    float: left;
}
.sequenceDiagram .head .actor span
{
    width: 100%;
    text-align: center;
}
.sequenceDiagram .message
{
    float: left;
}
.sequenceDiagram .head .actor
{
    width: codetodiagram:actor_header_width;
    height: 20%;
    text-align: center;
    height: codetodiagram:actor_header_height;
    float: left;
}
.sequenceDiagram .head .actor .logo
{
    height: codetodiagram:actor_logo_percent_height;
    width: 100%;
}
.sequenceDiagram .head .actor .name
{
    background-color: rgb( 100 , 100 , 230 );
    color: white;
    margin-left: codetodiagram:actor_logo_border;
    margin-right: codetodiagram:actor_logo_border;
    width: codetodiagram:actor_logo_width;
    height: codetodiagram:actor_box_percent_height;
    float: left;
    border-style: solid;
    border-color: orange;
    border-width: 1px;
}
.sequenceDiagram .line.body .slice
{
    width: codetodiagram:message_bar_width;
    float: left;
    height: 100%;
}
.sequenceDiagram .line.body .message_header , .line.body .slice.final
{
    width: codetodiagram:line_margin;
    float: left;
}
.sequenceDiagram .line.body .slice .actor
{
    width: 5%;
    background-color: #EEEEFF;
    background-repeat: repeat-y;
    background-position: center center;
    float: left;
    height: 100%;
}
.sequenceDiagram .line.body .slice .actor.start,
.sequenceDiagram .line.body .slice .actor.after1
{
    background-image: url( "codetodiagram:public_path/images/degrade.png" );
}
.sequenceDiagram .line.body .slice.final .actor
{
    width: 10%;
}
.sequenceDiagram .detail
{
    width: 100%;
    float: left;
    border-color: rgb( 200 , 200 ,255 );
    border-width: 1px;
    border-style: solid;
    background-color: rgb( 240, 240 , 240 );
    overflow: hidden;
    margin: 20px;
    cursor:pointer;
}
.sequenceDiagram .detail.closed ol
{
    display: none;
}
.sequenceDiagram .detail li
{
    display:block;
    width: 80%;
    float: left;
    background-color: white;
    border-style: solid;
    border-color: #DDDDFF;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 5px;
}
.sequenceDiagram .detail li div.message
{
    list-style-position: inside;
    display:list-item;
    padding: 5px;
    width: 80%;
    float: left;
    clear: right;
}
.sequenceDiagram .detail ol
{
    list-style-position: outside;
}
.sequenceDiagram .line.body
{
    height: codetodiagram:line_height;
}
.sequenceDiagram .line.body .row
{
    text-align: center;
    width: 95%;
    height: 100%;
    overflow: hidden;
}
.sequenceDiagram .line.body .row.recursive
{
    width: 85%;
}
.sequenceDiagram .line.body .slice.final .row
{
    width: 90%;
}
.sequenceDiagram .line.body .slice.final .row.recursive
{
    width: 80%;
}
.sequenceDiagram .line.body .row *
{
    padding: 0px;
    text-align: center;
    width: 99%;
    height: 50%;
}
.sequenceDiagram .line.body .message a
{
    text-decoration: none;
}
.sequenceDiagram .line
{
    display: block;
    float: left;
    width: 100%;
    height: 100%;
}
.sequenceDiagram .slice , .sequenceDiagram .row , .sequenceDiagram .actor
{
    width: 100%;
}
.sequenceDiagram .line.body:hover .call .message
{
    border-color: orange;
}
.sequenceDiagram .line.body:hover .return .message
{
    border-color: orange;
}
.sequenceDiagram .line.body .call .message
{
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: black;
}
.sequenceDiagram .line.body .return .message
{
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: dashed;
    border-color: black;
}
.sequenceDiagram .line.body .recursive .message
{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: black;
}
.sequenceDiagram .row
{
    float: left;
    display: block;
    width: 95%;
    overflow: hidden;
}
.sequenceDiagram .call ,
.sequenceDiagram .return
{
    background-position: right center;
    margin-right: 0px;
    margin-left: 0px;
    background-repeat: no-repeat;
}
.sequenceDiagram .row.reverse
{
    background-position: left center;
}
.sequenceDiagram .row.call.regular ,
.sequenceDiagram .row.call.regular.start.short
{
    background-image: url( "codetodiagram:public_path/images/row_call.gif" );
}
.sequenceDiagram .line.body:hover .row.call.regular ,
.sequenceDiagram .line.body:hover .row.call.regular.start.short
{
    background-image: url( "codetodiagram:public_path/images/row_call_hover.gif" );
}
.sequenceDiagram .row.call.reverse
{
    background-image: url( "codetodiagram:public_path/images/row_call_back.gif" );
}
.sequenceDiagram .line.body:hover .row.call.reverse
{
    background-image: url( "codetodiagram:public_path/images/row_call_back_hover.gif" );
}
.sequenceDiagram .row.return.reverse ,
.sequenceDiagram .row.return.reverse.start.large
{
    background-image: url( "codetodiagram:public_path/images/row_return.gif" );
}
.sequenceDiagram .line.body:hover .row.return.reverse ,
.sequenceDiagram  .line.body:hover .row.return.reverse.start.large
{
    background-image: url( "codetodiagram:public_path/images/row_return_hover.gif" );
}
.sequenceDiagram .row.return.regular ,
.sequenceDiagram .row.return.regular.start.large
{
    background-image: url( "codetodiagram:public_path/images/row_return_back.gif" );
}
.sequenceDiagram .line.body:hover .row.return.regular ,
.sequenceDiagram .line.body:hover .row.return.regular.start.large
{
    background-image: url( "codetodiagram:public_path/images/row_return_back_hover.gif" );
}
.sequenceDiagram .row.call.regular.short.recursive.start
{
    background-image: url( "codetodiagram:public_path/images/row_call_back.gif" );
    background-position: left center;
}
.sequenceDiagram .line.body:hover .row.call.regular.short.recursive.start
{
    background-image: url( "codetodiagram:public_path/images/row_call_back_hover.gif" );
}
.sequenceDiagram .row.return.regular.short.recursive.start
{
    background-image: url( "codetodiagram:public_path/images/row_return.gif" );
    background-position: left center;
}
.sequenceDiagram .line.body:hover .row.return.regular.short.recursive.start
{
    background-image: url( "codetodiagram:public_path/images/row_return_hover.gif" );
}
.sequenceDiagram .row.large ,
.sequenceDiagram .row.return.reverse.end ,
.sequenceDiagram .row.call.large.middle ,
.sequenceDiagram .row.return.large.middle ,
.sequenceDiagram .row.call.reverse.end ,
.sequenceDiagram .row.call.regular.start ,
.sequenceDiagram .row.return.regular.large.start ,
.sequenceDiagram .line.body:hover .row.large ,
.sequenceDiagram .line.body:hover .row.return.reverse.end ,
.sequenceDiagram .line.body:hover .row.call.large.middle ,
.sequenceDiagram .line.body:hover .row.return.large.middle ,
.sequenceDiagram .line.body:hover .row.call.reverse.end ,
.sequenceDiagram .line.body:hover .row.call.regular.start ,
.sequenceDiagram .line.body:hover .row.return.regular.large.start
{
    background-image: none;
}
.sequenceDiagram .actor .logo img
{
    height: codetodiagram:actor_logo_height;
    width: codetodiagram:actor_logo_height;
}
.tab
{
    float: left;
    width: 100%;
    padding-top: 40px;
}
.button_bar input
{
    font-size: 11px;
    background-color: #EEEEFF;  
}
.tab h3
{
    padding: 3px;
    font-size: 13px;
    margin: 5px;
    background-color: rgb( 250 , 250 , 255 );
    font-family: cursive;
    border-style: solid;
    color: rgb( 50 , 50 , 155 );
    border-color: rgb( 150 , 150 , 255 );
    border-width: 1px;
}
.validate
{
    float: left;
    width: 100%;
}
.validate *
{
    text-decoration: none;
    border-style: none;
}