.sequenceDiagram
{
    float: left;
    width: codetodiagram:body_width;
}
.sequenceDiagram *
{
    font-size: codetodiagram:body_font;
}
.sequenceDiagram .detail *
{
    font-size: 13px;
}
.sequenceDiagram .line
{
    width: 100%;
    float: left;
}
.sequenceDiagram .parameters
{
    display: none;
}
.sequenceDiagram .head .slice
{
    float: left;
    width: codetodiagram:slice_width;
    /*height: codetodiagram:slice_height;*/
    text-align: center;
    height: 10%;
}
.sequenceDiagram .head .actor
{
    float: left;
}
.sequenceDiagram .head .actor span
{
    width: 100%;
    text-align: center;
}
.sequenceDiagram .message
{
    float: left;
}
.sequenceDiagram .head .actor
{
    width: codetodiagram:actor_header_width;
    height: 20%;
    text-align: center;
    height: codetodiagram:actor_header_height;
    float: left;
}
.sequenceDiagram .head .actor .name
{
    background-color: #DDDDFF;
    margin-left: codetodiagram:actor_logo_border;
    margin-right: codetodiagram:actor_logo_border;
    width: codetodiagram:actor_logo_width;
    height: 50%;
    float: left;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}
.sequenceDiagram .line.body .slice
{
    width: codetodiagram:message_bar_width;
    float: left;
    height: 100%;
}
.sequenceDiagram .line.body .message_header , .line.body .slice.final
{
    width: codetodiagram:line_margin;
    float: left;
}
.sequenceDiagram .line.body .slice .actor
{
    width: 5%;
    background-color: blue;
    float: left;
    height: 100%;
}
.sequenceDiagram .line.body .slice.final .actor
{
    width: 10%;
}
.sequenceDiagram .detail li
{
    float: left;
    width: 100%;

}
.sequenceDiagram .line.body
{
    height: codetodiagram:line_height;
}
.sequenceDiagram .line.body .row
{
    text-align: center;
    width: 95%;
    height: 100%;
    overflow: hidden;
}
.sequenceDiagram .line.body .row.recursive
{
    width: 85%;
}
.sequenceDiagram .line.body .slice.final .row
{
    width: 90%;
}
.sequenceDiagram .line.body .slice.final .row.recursive
{
    width: 80%;
}
.sequenceDiagram .line.body .row *
{
    padding: 0px;
    text-align: center;
    width: 99%;
    height: 50%;
}
.sequenceDiagram .line.body .message a
{
    text-decoration: none;
}
.line
{
    display: block;
    float: left;
    width: 100%;
    height: 100%;
}
.slice , .row , .actor
{
    width: 100%;
}
.sequenceDiagram .line.body .call .message
{
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: black;
}
.sequenceDiagram .line.body .return .message
{
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: dashed;
    border-color: black;
}
.sequenceDiagram .line.body .recursive .message
{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: black;
}
.row
{
    float: left;
    display: block;
    width: 95%;
    overflow: hidden;
}
.call , .return
{
    background-position: right center;
    margin-right: 0px;
    margin-left: 0px;
    background-repeat: no-repeat;
}
.row.reverse
{
    background-position: left center;
}
.row.call.regular
{
    background-image: url( "codetodiagram:public_path/images/row_call.gif" );
}
.row.call.reverse
{
    background-image: url( "codetodiagram:public_path/images/row_call_back.gif" );
}
.actor.middle.call
{
    
}
.actor.middle.return
{
    
}
.row.return.reverse ,
.row.return.reverse.start.large
{
    background-image: url( "codetodiagram:public_path/images/row_return.gif" );
}
.row.return.regular ,
.row.return.regular.start.large
{
    background-image: url( "codetodiagram:public_path/images/row_return_back.gif" );
}
.row.call.recursive
{
    background-image: url( "codetodiagram:public_path/images/row_call_back.gif" );
    background-position: left center;
}
.row.large ,
.row.return.reverse.end ,
.row.call.large.middle ,
.row.return.large.middle ,
.row.call.reverse.end ,
.row.call.regular.start 
{
    background-image: none;
}
.actor .logo img
{
    height: codetodiagram:actor_logo_height;
    width: codetodiagram:actor_logo_height;
}