<html>
    <head>
        <title>Testing the Box</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="[codetodiagram:public_path]../experimental/phpjs/php.js" ></script>
        <script type="text/javascript" src="[codetodiagram:public_path]../experimental/canvasBox/autoLoad/jsAutoLoad.js.php?deep=1&back=1"  ></script>
        <script type="text/javascript" >
            window.autoload.loadPrototype();
        </script>
        <style type="text/css">
            body
            {
                padding: 0;
                margin: 0;
                border: none;
            }
            #codetodiagram:canvasboxid
            {
                margin-left:0px;
                margin-top:0px;
                border-style: solid;
                border-color: black;
                border-width: 1px;
            }
        </style>
    </head>
    <body>
        <canvas id="codetodiagram:canvasboxid"></canvas>
        <div id="graphMode">
            <script type="text/javascript" charset="utf-8">
                /* <codetodiagram:diagram/> */
            </script>
        </div>
    </body>
</html>
